# Python (Flask) Backend Bağımlılıkları
Flask-Cors
Flask==3.0.3
gunicorn==22.0.0
python-dotenv==1.0.1
markdown==3.6
pytz==2024.1

# Firebase (Çakışmasız, Modern Çözüm)
# pyrebase ARTIK YOK.
firebase-admin==6.5.0     # Firestore, Admin Auth ve Google Login
# requests (Google-Genai bağımlılığını kullanacak)

# Gemini AI (Artık sorunsuz kurulan paket)
google-generativeai

# HTTP İstekleri
requests>=2.28.1
