# Backend (Python Flask) Bağımlılıkları
Flask==3.0.3
gunicorn==22.0.0             # Canlı yayın sunucusu
python-dotenv==1.0.1
pyrebase==3.0.27
firebase-admin==6.5.0       # Firestore ve Admin SDK için
requests==2.11.1            # Supercell API için
markdown==3.6               # AI analiz çıktısını HTML'e çevirmek için
pytz==2024.1                # Zaman dilimi işlemleri için
google-genai==1.45.0        # Gemini API için (genai)
